/*
* Author: Patrick
* Crypto Watch styles sheet
*/

/*page formatting, combined body and html selectors, with background image*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0px; 
    padding: 0.5px;
    /*image*/
    background-image: url("btc_bg.jpg");
    /*alignment and scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/*container selector
* display all content 
*/
.container {   
    text-align: left;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    padding: 5px;
    background-color: rgba(255, 231, 189, 0.5);
}

/*paragraph selector, declaration for the first-letter with multiuple properties*/
p:first-letter {
    color: rgb(34, 34, 31);
    font-size: 10em;
}

/*row selector*/
.row {
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    color: rgb(2, 112, 116);
    /* background-color: rgba(255, 231, 189, 0.5); */
}

/*Search bar text selector with declaration block*/
.form-group{
    color: rgb(34, 34, 31);
    font-weight: bold;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    width: 400px;
    color: rgb(2, 112, 116);
}
/*data display hover selector*/
.dataDisplay:hover {
    color: rgba(79, 13, 209, 0.87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(60, 52, 45);
}

/* styling for <select> list boxes*/
.dataDisplay {
    width: 400px;
    text-align: left;
}

/*button styling*/
button {
    background-color: rgba(254, 238, 92, 0.75);
    padding: 0.25em;
    text-align: center;
    cursor: pointer;
    align-items: left;
}

button:hover {
    background-color: rgba(192, 173, 0, 0.75);
}

button:active {
    transform: translateY(10px);
    text-shadow: 0 2px rgb(34, 34, 31);
}

#coins-list, #currency-list {
    background-color: rgba(255, 231, 189, 0.5);
    color: rgba(79, 13, 209, 0.87);
}

/*styling for time vs price chart*/
#myChart {
    height: .9em;
    width: .8em;
    color: black;
}

