/*
* Author: Patrick
* Crypto Watch styles sheet
*/

/*page formatting, combined body and html selectors, with background image*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0px; 
    padding: 0.5px;
    /*image*/
    background-image: url("btc_bg.jpg");
    /*alignment and scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*container selector*/
.container-fluid {
    color: black;
    background-color: rgba(255, 231, 189, 0.5);
    text-align: center;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

/*row selector*/
.row {
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*Search bar text selector with declaration block*/
#text {
    color: rgb(34, 34, 31);
    font-weight: bold;
    text-align: left;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

/*Search bar text hover selector*/
#text:hover {
    color: rgba(34, 34, 31, 0.9);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

/*data display hover selector*/
#data:hover {
    color: rgba(4, 2, 44, 0.87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration-color: rgb(60, 52, 45);
}

/*paragraph selector, declaration for the first-letter with multiuple properties*/
p:first-letter {
    color: rgb(34, 34, 31);
    font-size: 1.5em;
}

/*button styling*/
button {
    display: inline-block;
    background-color: rgba(254, 238, 92, 0.75);
    padding: 0.25em;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgba(192, 173, 0, 0.75);
}

button:active {
    transform: translateY(15px);
    text-shadow: 0 2px rgb(34, 34, 31);
}